<table class="data-table data-table--lined data-table--zebra data-table--tight">
  <thead>
    <tr>
      <th>Rangorde</th>
      <th>Voornaam &amp; Familienaam</th>
      <th>Start mandaat</th>
      <th>Ancieniteit</th>
      <th>Stemmen</th>
      <th>Lijst</th>
      <th>Acties</th>
    </tr>
  </thead>
  <tbody>
    {{#each verkozenen as |verkozene|}}
        <tr>
          <td>
            <strong>{{verkozene.rangorde}}</strong>
            {{#wu-link-button class="button--link button--tiny" isNarrow=true onClick=(action 'up' verkozene)}}
              <i class="vi vi-burger-alt button__icon vi-u-180deg vi-u-xs"></i>
            {{/wu-link-button}}
            {{#wu-link-button class="button--link button--tiny" isNarrow=true onClick=(action 'down' verkozene)}}
              <i class="vi vi-burger-alt button__icon vi-u-xs"></i>
            {{/wu-link-button}}
          </td>
          <td><strong>{{verkozene.persoon.gebruikteVoornaam}} {{verkozene.persoon.achternaam}}</strong></td>
          <td>{{wu-datepicker value=verkozene.start}}</td>
          <td>{{verkozene.ancieniteit}}</td>
          <td>{{verkozene.resultaat.aantalNaamstemmen}}</td>
          <td>{{verkozene.lijst.lijstnaam}}</td>
          <td>
            {{#wu-button-group}}
              {{#wu-button size="small" isNarrow=true label="Bewerk" onClick=(action 'edit' verkozene)}}
                <i class="vi vi-edit"></i> Bewerk afgelopen mandaten
              {{/wu-button}}
              {{#wu-button size="small" class="button--alt" isNarrow=true onClick=(action 'remove' verkozene)}}
                <i class="vi vi-cross"></i> Verwijder raadslid
              {{/wu-button}}
            {{/wu-button-group}}
          </td>
        </tr>
    {{else}}
        <td colspan="4">
            Er werden geen effectief verkozenen gevonden
        </td>
    {{/each}}
  </tbody>
</table>
