<table class="data-table data-table--lined data-table--zebra data-table--tight">
  <thead>
    <tr>
      <th>Officiële naam</th>
      <th>Lijst</th>
      <th>
        <div class="grid">
          <div class="col--6-12">
            Status
          </div>
          <div class="col--6-12 u-align--right">
            {{#wu-link-button class="button--small" isNarrow=true onClick=(action "add")}}
              <i class="vi vi-plus vi-u-s"></i>Voeg persoon of opvolger toe
            {{/wu-link-button}}
          </div>
        </div>
       </th>
    </tr>
  </thead>
  <tbody>
    {{#if adding}}
    <tr>
      <td>
        {{mandataris-aanstelling-tabel/opvolger-selector bestuursorgaan=bestuursorgaan opvolger=opvolger onSelect=(action "selectOpvolger")}}
        <p class="u-spacer--top--tiny">U kan hier zoeken naar een opvolger of persoon die ook in de tabel moet verschijnen.</p>
          </td>
          <td>{{moment-format newOpvolger.geboorte.datum 'DD/MM/YYYY'}}</td>
          <td>
            {{#wu-button-group}}
              {{#wu-link-button class="button--small" isNarrow=true onClick=(action "addOpvolger")}}
                <i class="vi vi-check vi-u-xs"></i>Voeg persoon of opvolger toe
              {{/wu-link-button}}
              {{#wu-link-button class="button--small button--alt" isNarrow=true onClick=(action "cancelAdd")}}
                <i class="vi vi-cross vi-u-s"></i>Annuleer
              {{/wu-link-button}}
            {{/wu-button-group}}
          </td>
    </tr>
    {{/if}}
    {{#each verkozenen as |verkozene|}}
      <tr>
        <td><strong>{{verkozene.persoon.gebruikteVoornaam}} {{verkozene.persoon.achternaam}}</strong></td>
        <td>{{verkozene.lijst.lijstnaam}}</td>
        <td>
           {{mandataris-aanstelling-tabel/mandaat-status verkozene=verkozene}}
        </td>
      </tr>
    {{else}}
      <td colspan="4">
        Er werden geen effectief verkozenen gevonden
      </td>
    {{/each}}
  </tbody>
</table>
