<div class="modal-dialog__header">
  <div class="grid">
    <div class="col--10-12">
		  <p class="u-spacer--tiny">
		    Wil u graag een tabel invoegen of beheren voor de <strong>rangorde van de gemeenteraadsleden</strong>?
		  </p>
      {{#unless bestuursorgaan}}
        <p>Gelieve eerst een bestuursorgaan te selecteren.</p>
      {{/unless}}
    </div>
    <div class="col--2-12 u-align-right">
      <a class="link--icon--close" href="#"> {{!-- TODO: action close {{action "remove" result.origModel}} --}}
        <span class="u-visually-hidden">Venster sluiten</span>
      </a>
    </div>
  </div>
</div>
<div class="modal-dialog__footer">
  {{#if fetchResources.isRunning}}
    Loading...
  {{else}}
  {{#wu-button-group}}
     {{#if bestuursorgaan}}
        {{#if info.node}}
  	      {{wu-button
			      label="Bewerk tabel"
			      isNarrow=true
			      onClick=(action 'togglePopup')
		      }}
        {{else}}
		      {{wu-button
			      label="Ga naar tabel"
			      isNarrow=true
			      onClick=(action 'togglePopup')
		      }}
       {{/if}}
      {{/if}}
		{{wu-button
			label="Annuleer (todo)"
			class="button--alt"
			isNarrow=true
			onClick=null
		}}
	  {{wu-button
	    label="Negeer suggestie (todo)"
	    class="button--link button--link--dark"
	    size="small"
	    isNarrow=true
	    onClick=null}}
  {{/wu-button-group}}
  {{/if}}
</div>

{{#if popup}}
  {{#wu-modal
     title="Pas rangorde gemeenteraadsleden aan"
     dialog-class="modal-dialog--wide modal-dialog--sectioned"
     dialog-content-class="modal-dialog__content--sectioned"
     onClose=(action 'togglePopup')
     as |m|}}
    {{#m.content isSectioned=true}}
      {{#editor-plugins/mandataris-aanstelling-tabel
         bestuursorgaan=bestuursorgaan
         defaultMandaat=mandaat
         mandatarissen=mandatarissen
         as |table|}}
        {{#if table.isEditing}}
          {{table.editRecord}}
        {{else}}
          {{table.overview}}
        {{/if}}
        {{table.output id=outputId class="u-hidden"}}
      {{/editor-plugins/mandataris-aanstelling-tabel}}
    {{/m.content}}
    <div class="modal-dialog__footer">
  		{{#wu-button-group}}
        {{wu-button label="Bewaar" class="button button--narrow" onClick=(action 'insert')}}
        {{wu-button label="Verwerp wijzigingen" class="button button--alt button--narrow" onClick=(action 'togglePopup')}}
		  {{/wu-button-group}}
	  </div>
  {{/wu-modal}}
{{/if}}
