<div class="modal-dialog__header">
  <div class="grid">
    <div class="col--10-12">
      {{#if bestuursorgaan}}
        <p class="u-spacer--tiny">
          Wil u graag de <strong>installatie van de gemeenteraadsleden</strong> beheren?
        </p>
      {{else}}
        <p class="u-spacer--tiny"><strong>Gelieve eerst een bestuursorgaan te selecteren</strong> om de installatie van de gemeenteraadsleden te beheren.</p>
      {{/if}}
    </div>
    {{!--     <div class="col--2-12 u-align-right">
    <a class="link--icon--close" href="#">
    <span class="u-visually-hidden">Venster sluiten</span>
    </a>
    </div> --}}
  </div>
</div>
{{#if bestuursorgaan}}
  <div class="modal-dialog__footer">
    {{#if fetchResources.isRunning}}
      <p class="loader"><span class="u-visually-hidden">Aan het laden</span></p>
    {{else}}
      {{#wu-button-group}}
        {{#if bestuursorgaan}}
          {{#if info.node}}
            {{wu-button
              label="Bewerk tabel"
              isNarrow=true
              onClick=(action 'togglePopup')
            }}
          {{else}}
            {{wu-button
              label="Ga naar tabel"
              isNarrow=true
              onClick=(action 'togglePopup')
            }}
          {{/if}}
        {{/if}}
        {{!--     {{wu-button
        label="Annuleer (todo)"
        class="button--alt"
        isNarrow=true
        onClick=null
        }}
        {{wu-button
        label="Negeer suggestie (todo)"
        class="button--link button--link--dark"
        size="small"
        isNarrow=true
        onClick=null}} --}}
      {{/wu-button-group}}
    {{/if}}
  </div>
{{/if}}

{{#if popup}}
  {{#wu-modal
		 title="Installatie gemeenteraadsleden"
		 dialog-class="modal-dialog--wide modal-dialog--sectioned modal-dialog--wizard"
		 dialog-content-class="modal-dialog__content--sectioned"
		 onClose=(action 'togglePopup')
		 as |m|}}
    {{#wu-wizard isNumeric=true currentStep=currentStep as |wizard|}}
      {{#wizard.step as |step|}}
        {{step.header title='Samenstelling van de gemeenteraad'}}
        {{#step.pane as |pane|}}
          {{#m.content sectioned=true}}
            {{mandataris-aanstelling-tabel/samenstelling
              mandatarissen=mandatarissen
              defaultMandaat=mandaat
              bestuursorgaan=bestuursorgaan
              addMandataris=(action 'addMandataris')
            }}
          {{/m.content}}
          {{#m.buttons as |b|}}
	          {{#wu-button-group}}
	            {{wizard.next}}
	            {{wu-button label="Annuleer" class="button button--alt button--narrow" onClick=(action 'togglePopup')}}
	          {{/wu-button-group}}
          {{/m.buttons}}
        {{/step.pane}}
      {{/wizard.step}}
      {{#wizard.step as |step|}}
        {{#if isEditing}}
          {{#step.pane}}
            {{#m.content sectioned=true}}
              {{mandataris-aanstelling-tabel/edit-record record=record}}
            {{/m.content}}
            {{#m.buttons}}
              {{#wu-button onClick=(action 'setRecord')}}Bewaar en keer terug naar tabel{{/wu-button}}
            {{/m.buttons}}
          {{/step.pane}}
        {{else}}
          {{step.header title='Rangorde van de gemeenteraadsleden'}}
          {{#step.pane}}
            {{#m.content sectioned=true}}
              {{#editor-plugins/mandataris-aanstelling-tabel
                 bestuursorgaan=bestuursorgaan
                 defaultMandaat=mandaat
                 mandatarissen=zetelendeMandatarissen
                 startDate=startDate
                 setRecord=(action 'setRecord')
                 as |table|}}
                {{table.overview}}
                {{table.output
                  id=outputId
                  class="u-hidden"
                  afstandenVanMandaat=afstandenVanMandaat
                  onverenigbaarheden=onverenigbaarheden
                  afwezigenMetKennisGeving=afwezigenMetKennisGeving
                  afwezigen=afwezigen
                  zetelendeMandatarissen=zetelendeMandatarissen
                  verhinderdeMandatarissen=verhinderdeMandatarissen
                  mandatarissenVoorGeloofsbrieven=mandatarissenVoorGeloofsbrieven
                  aangesteldeMandatarissen=aangesteldeMandatarissen
                  waarnemendeMandatarissen=waarnemendeMandatarissen
                }}
              {{/editor-plugins/mandataris-aanstelling-tabel}}
            {{/m.content}}
            {{#m.buttons as |b|}}
	            {{#wu-button-group}}
	              {{wu-button label="Voeg tabel in" class="button button--narrow" onClick=(action 'insert')}}
	              {{wizard.previous}}
	              {{wu-button label="Annuleer" class="button button--alt button--narrow" onClick=(action 'togglePopup')}}
	             {{/wu-button-group}}
            {{/m.buttons}}
          {{/step.pane}}
        {{/if}}
      {{/wizard.step}}
    {{/wu-wizard}}
  {{/wu-modal}}
{{/if}}
