<div class="modal-dialog__header">
  <div class="grid">
    <div class="col--10-12">
      {{#if bestuursorgaan}}
        <p class="u-spacer--tiny">
          Wil u graag de <strong>installatie van de gemeenteraadsleden</strong> beheren?
        </p>
      {{else}}
        <p class="u-spacer--tiny"><strong>Gelieve eerst een bestuursorgaan te selecteren</strong> om de installatie van de gemeenteraadsleden te beheren.</p>
      {{/if}}
    </div>
    {{!--     <div class="col--2-12 u-align-right">
    <a class="link--icon--close" href="#">
    <span class="u-visually-hidden">Venster sluiten</span>
    </a>
    </div> --}}
  </div>
</div>
{{#if bestuursorgaan}}
  <div class="modal-dialog__footer">
    {{#if fetchResources.isRunning}}
      <p class="loader"><span class="u-visually-hidden">Aan het laden</span></p>
    {{else}}
      {{#wu-button-group}}
        {{#if bestuursorgaan}}
          {{#if info.node}}
            {{wu-button
              label="Bewerk tabel"
              isNarrow=true
              onClick=(action 'togglePopup')
            }}
          {{else}}
            {{wu-button
              label="Ga naar tabel"
              isNarrow=true
              onClick=(action 'togglePopup')
            }}
          {{/if}}
        {{/if}}
        {{!--     {{wu-button
        label="Annuleer (todo)"
        class="button--alt"
        isNarrow=true
        onClick=null
        }}
        {{wu-button
        label="Negeer suggestie (todo)"
        class="button--link button--link--dark"
        size="small"
        isNarrow=true
        onClick=null}} --}}
      {{/wu-button-group}}
    {{/if}}
  </div>
{{/if}}

{{#if popup}}
  {{#wu-modal
     title="Installatie gemeenteraadsleden"
     dialog-class="modal-dialog--wide modal-dialog--sectioned"
     dialog-content-class="modal-dialog__content--sectioned"
     onClose=(action 'togglePopup')
     as |m|}}
    {{#m.content sectioned=true}}
      {{#wu-wizard finish=(action 'insert') as |wizard|}}
        {{#wizard.step as |step|}}
          {{step.header title='samenstelling van de gemeenteraad'}}
          {{#step.pane}}
            {{mandataris-aanstelling-tabel/samenstelling
              mandatarissen=mandatarissen
              defaultMandaat=mandaat
              bestuursorgaan=bestuursorgaan
              addMandataris=(action 'addMandataris')
            }}
          {{/step.pane}}
        {{/wizard.step}}
        {{#wizard.step as |step|}}
          {{step.header title='rangorde van de gemeenteraadsleden'}}
          {{#step.pane}}

            {{#editor-plugins/mandataris-aanstelling-tabel
               bestuursorgaan=bestuursorgaan
               defaultMandaat=mandaat
               mandatarissen=opgenomenMandaten
               startDate=startDate
               as |table|}}
              {{#if table.isEditing}}
                {{table.editRecord}}
              {{else}}
                {{table.overview}}
              {{/if}}
              {{table.output
                id=outputId
                class="u-hidden"
                afstandenVanMandaat=afstandenVanMandaat
                onverenigbaarheden=onverenigbaarheden
                afwezigenMetKennisGeving=afwezigenMetKennisGeving
                afwezigen=afwezigen
              }}
            {{/editor-plugins/mandataris-aanstelling-tabel}}
          {{/step.pane}}
        {{/wizard.step}}
      {{/wu-wizard}}
    {{/m.content}}
  {{/wu-modal}}
{{/if}}
