{{#if verkozene.isBurgemeester}}
  <tr property="ext:bekrachtigtAanstellingVan" resource={{verkozene.uri}} typeof={{verkozene.rdfaBindings.class}}>
    <td>
      {{rdfa/ctx-prop resource=verkozene p="rangorde"}}
    </td>
    <td>
      {{#rdfa/ctx-linked-resource resource=verkozene p="persoon" as |model persoon|}}
        {{persoon.prop resource=model p="gebruikteVoornaam"}} {{persoon.prop resource=model p="achternaam"}}
      {{/rdfa/ctx-linked-resource}}
    </td>
    <td class="u-hidden">
      <span property="ext:isBurgemeester" content="true" datatype="xsd:boolean">burgemeester</span>
      <span property="mandaat:status" resource="http://data.vlaanderen.be/id/concept/MandatarisStatusCode/21063a5b-912c-4241-841c-cc7fb3c73e75">
        (Effectief)
      </span>
      <span property="mandaat:start" datatype="xsd:dateTime" content={{verkozene.start}}>
        {{moment-format verkozene.start 'LL'}}
      </span>
      {{#rdfa/ctx-linked-resource resource=verkozene p="mandaat" as |model mandaat|}}
        <span property="org:role" resource="http://data.vlaanderen.be/id/concept/BestuursfunctieCode/5ab0e9b8a3b2ca7c5e000011">
          <span property="skos:prefLabel">Gemeenteraadslid</span>
        </span>
      {{/rdfa/ctx-linked-resource}}
      {{#rdfa/ctx-each-resource resource=verkozene p="oudeMandaten" as |model mandaat|}}
        {{#if model.einde}}
          <span property="mandaat:einde" datatype="xsd:date" content={{moment-format model.einde 'YYYY-MM-DD'}}>
            {{moment-format model.einde 'LL'}}
          </span>
        {{/if}}
        {{#if model.start}}
          <span property="mandaat:start" datatype="xsd:dateTime" content={{model.start}}>
            {{moment-format model.start 'LL'}}
          </span>
        {{/if}}
      {{/rdfa/ctx-each-resource}}
      {{#if verkozene.resultaat}}
        {{#with-rdfa-resource resource=verkozene.resultaat as |ctx|}}
          {{ctx.prop p="aantalNaamstemmen"}}
          <span property="mandaat:isResultaatVan"  resource="{{verkozene.persoon.uri}}"></span>
        {{/with-rdfa-resource}}
      {{/if}}
      {{#if verkozene.lijst}}
        {{#with-rdfa-resource resource=verkozene.lijst as |ctx|}}
          {{ctx.prop p="lijstnaam"}}
          <span property="mandaat:heeftKandidaat" resource="{{verkozene.persoon.uri}}"></span>
        {{/with-rdfa-resource}}
      {{/if}}
    </td>
  </tr>
{{else}}
  <tr property="ext:bekrachtigtAanstellingVan" resource={{verkozene.uri}} typeof={{verkozene.rdfaBindings.class}}>
    <td>
      {{rdfa/ctx-prop resource=verkozene p="rangorde"}}
    </td>
    <td>
      {{#rdfa/ctx-linked-resource resource=verkozene p="persoon" as |model persoon|}}
        {{persoon.prop resource=model p="gebruikteVoornaam"}} {{persoon.prop resource=model p="achternaam"}}
      {{/rdfa/ctx-linked-resource}}
    </td>
    <td class="u-hidden">
      {{#rdfa/ctx-each-resource resource=verkozene p="oudeMandaten" as |model mandaat|}}
        {{#if model.einde}}
          <span property="mandaat:einde" datatype="xsd:dateTime" content={{model.einde}}>
            {{moment-format model.einde 'LL'}}
          </span>
        {{/if}}
        {{#if model.start}}
          <span property="mandaat:start" datatype="xsd:dateTime" content={{model.start}}>
            {{moment-format model.start 'LL'}}
          </span>
        {{/if}}
      {{/rdfa/ctx-each-resource}}
      {{#if verkozene.resultaat}}
        {{#with-rdfa-resource resource=verkozene.resultaat as |ctx|}}
          {{ctx.prop p="aantalNaamstemmen"}}
          <span property="mandaat:isResultaatVan"  resource="{{verkozene.persoon.uri}}"></span>
        {{/with-rdfa-resource}}
      {{/if}}
      {{#if verkozene.lijst}}
        {{#with-rdfa-resource resource=verkozene.lijst as |ctx|}}
          {{ctx.prop p="lijstnaam"}}
          <span property="mandaat:heeftKandidaat" resource="{{verkozene.persoon.uri}}"></span>
        {{/with-rdfa-resource}}
      {{/if}}
    </td>
  </tr>
{{/if}}
